*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.resp{
    width: 100%;
    height: auto;
}
.article_image{
    width: 50%;
    margin: 0 auto;
}
.list_article_image{
    width: 20%;
}
.article_update_image{
    width: 20%;
}
.article_detail{
    text-align: center;
}
header{
    height: 100px;
    background-color: lightgreen;
}
footer{
    height: 100px;
    background-color: lightgreen;
}
.article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
}
.titre{
    display: flex;
    align-items: center;
}
.titreHome{
    background-color: lightgreen;
    color: darkorange;
}
h1{
    background-color: black;
    color: deeppink;
    font-size: 2em;
    font-family: fantasy;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
.nav{
    color: blue;
}
form{
    padding: 30px;
}